/** 
* Make flexbox grids super easy!
* ---
* @param $cols  —  Number of columns
* @param $margin  —  Margin with unit
*/

@mixin flexgrid($cols, $margin) {
  $width: (100% / $cols);
  $calc-margin: (($margin * $cols) - $margin) / $cols;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:after {
    flex: auto;
    margin: 0 auto;
    content: "";
  }
  >* {
    width: calc( #{$width} - #{$calc-margin} );
    margin-left: $margin / 2;
    margin-right: $margin/ 2;
    &:nth-child(1) {
      margin-left: 0;
    }
    &:nth-child(#{$cols}n) {
      margin-right: 0;
    }
    &:nth-child(#{$cols}n + 1) {
      margin-left: 0;
    }
  }
}

/* Fast way to center hor and vert */

@mixin center_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translatey(-50%);
}

/* Fast way to center hor and vert */

@mixin center_vert {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}

/* Media Queries */

@mixin large_screen {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

@mixin medium_screen {
  @media screen and (min-width: 800px) and (max-width: 999px) {
    @content;
  }
}

@mixin small_screen {
  @media screen and (min-width: 600px) and (max-width: 799px) {
    @content;
  }
}