/* Colors */
$color-dark: #000000;
$color-blue: #22c1f4;
$color-green: #00ffda;
$color-purple: #110033;
$color-red: #d9004d;
$color-orange: #d3b724;
$color-bright: #ffffff;
$color-glitch-one: #f0f;
$color-glitch-two: #0ff;

/* Misc */
$base-font: 12px;